.btn-edit {
    background-color: #e6d709;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete {
    background-color: #fc0a0a;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}